
.sidebar{
    background-color: #1D3124;
    color: white;
    min-height: 100vh;
    margin-right: 1em;
    // display: flex;
}
.routes{
    color: white;
}
.top_section{
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 10em;
}
.logo{
    font-size: 25px;
    line-height: 0;
    padding-left: 5px;
}
.bars{
    font-size: 25px;
    padding-left: 5px;
}
.link,.last{
    text-decoration: none;
    color: white;
    display: flex;
    column-gap: 10px;
    padding: 9px;
    border-left:  4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28,0.735,0.045);
    align-items: baseline;
    &:hover{
        border-left:  4px solid white;
        transition: 0.2s cubic-bezier(0.6, -0.28,0.735,0.045);
        background: #2a4735;
    }
}
// .last{
//     display: flex;
//     color: white;
//     font-size: 18px;
//     text-decoration: none;
//     justify-content: flex-start;
//     padding: 5px;
//     gap: 10px;
// }
.logoutandprofilecontainer{
    // position: absolute;
    // bottom: 0;
    padding-top: 15em;
}
.logout-icon,.profile-icon{
    font-size: 25px;
}
.logout-name,.profile-name{
    // font-size: 18px;
}
.logout{
    color: rgb(255, 0, 0);
}
// .active{
//     border-left:  4px solid white;
//     background: #2a4735;
// }