$second_basic-color: #C54B43;
.sidebar{
    background-color: #F7F7F3;
    min-height: 100vh;
    // margin-right: 1em;
    // display: flex;
}
.top_section{
    display: flex;
    align-items:baseline;
    color: $second_basic-color;
    padding: 10px;
    padding-bottom: 10em;
}
.logo{
    font-size: 23px;
    line-height: 0;
    padding-left: 10px;
    text-transform: capitalize;
}
.logo::after{
    content: ' |';
    animation: type 3s infinite;
}
@keyframes type {
    0%{
        content: 'o|';
    }
    7%{
        content: 'op|';
    }
    14%{
        content: 'ope|';
    }
    21%{
        content: 'oped|';
    }
    28%{
        content: 'opedi|';
    }
    35%{
        content: 'opedis|';
    }
    42%{
        content: 'opedist|';
    }
    49%{
        content: 'opedista|';
    }
    56%{
        content: 'opedist|';
    }
    63%{
        content: 'opedis|';
    }
    70%{
        content: 'opedi|';
    }
    77%{
        content: 'oped|';
    }
    84%{
        content: 'ope|';
    }
    91%{
        content: 'op|';
    }
    98%{
        content: 'o|';
    }
    100%{
        content: '|';
    }
}
.bars{
    font-size: 25px;
    padding-left: 5px;
}
.link,.last{
    text-decoration: none;
    color: $second_basic-color;
    display: flex;
    width: 90%;
    border-radius: 5px;
    margin: auto;
    column-gap: 10px;
    padding: 9px;
    border-left:  4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28,0.735,0.045);
    align-items: baseline;
    &:hover{
        // border-left:  4px solid white;
        transition: 0.2s cubic-bezier(0.6, -0.28,0.735,0.045);
        color: white;
        background-color: $second_basic-color;
    }
}
.logoutandprofilecontainer{
    padding-top: 15em;
}
.logout-icon,.profile-icon{
    font-size: 25px;
}
.logout-name,.profile-name{
    // font-size: 18px;
}
.logout{
    color: rgb(255, 0, 0);
}