.view-doctors {
    color: #ddd;
    align-self: center;
    width: 100%;
    h2 {
        text-align: center;
        font-size: 50px;
        margin-bottom: 20px;
    }
    .doctor-table {
        width: 100%;
        border-collapse: collapse;
        position: inherit;
        font-size: 25px;
        th {
            background-color: #6D2932;
            padding: 10px;
            font-weight: bold;
            text-align: left;
        }
        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        tr {
            background-color: #638889;
        }
    }
}