.view-doctors {
    // color: #000000;
    // align-self: center;
    padding: 30px;
    width: 100%;
    .title-container{
        display: flex;
        margin-bottom: 1em;
        align-items: baseline;
        .doctor-title{
            font-size: 35px;
            color: #2d72da;
            margin-right: 15px;
        }
        .doctor-icon{
            color: #2d72da;
            font-size: 25px;
        }
        .no-of-doctors{
            margin-left: 2em;
            color: #7a7979;

        }
    }
    .actions-container{
        display: flex;
        margin-bottom: 2em;
        
    }
    h2 {
        text-align: center;
        font-size: 50px;
        margin-bottom: 20px;
    }
    .search-bar {
        width: 400px;
        height: 50px;
        background-color: white;
        display: flex;
        border-radius: 10px;
        align-items: center;
        padding: 20px;
        margin-left: 1em;
        border: 1px solid #2d72da;
        :nth-child(1) {
            font-size: 20px;
            color: #2d72da;
        }
        :nth-child(2) {
            flex: 1;
            height: 40px;
            border: none;
            outline: none;
            font-size: 20px;
            padding-left: 10px;
            // background-color: black;
            color: #2d72da;
        }
    }
    .doctor-table {
        width: 80%;
        // height: 100px;
        border-collapse: collapse;
        position: inherit;
        // overflow-y: scroll;
        font-size: 15px;
        tbody{
            // overflow-wrap:break-word;
        }
        th {
            background-color: #7a7979;
            padding: 10px;
            // font-weight: bold;
            text-align: center;
            color: white;
        }
        td {
            padding: 10px;
            max-width: 200px;
            border-bottom: 1px solid #aaaaaa;
            overflow:hidden;
            white-space: nowrap;
            text-overflow:ellipsis;
            color: #777;
            text-align: center;
            .table-options-button{
                border: none;
                background-color: transparent;
                color: #777;
                display: flex; 
                .options{
                    position: absolute;
                    margin-left: 50px;
                    background-color: #ffffff;
                    display: flex;
                    width: 100px;
                    color: rgb(95, 95, 95);
                    box-shadow: 1px 3px 10px  #a5a5a5;
                    border-radius: 5px;
                    button{
                        width: 100%;
                        border: none;
                        border-bottom: 2px solid #dbdbdb;
                        padding: 5px;
                        display: block;
                        background-color: transparent;
                        color: #777;
                        &:hover{
                            background-color: #f5f5f5;
                            transition: 0.4s ease ;
                        }
                    }
                }
            }
        }
        tr {
            background-color: #ffffff;
        }
    }
}