.view-doctors {
    color: #ddd;
    align-self: center;
    width: 100%;
    h2 {
        text-align: center;
        font-size: 50px;
        margin-bottom: 20px;
    }
    .search-bar {
        width: 500px;
        height: 50px;
        background-color: white;
        display: flex;
        border-radius: 30px;
        align-items: center;
        padding: 20px;
         :nth-child(1) {
            font-size: 25px;
            color: #777;
        }
         :nth-child(2) {
            flex: 1;
            height: 40px;
            border: none;
            outline: none;
            font-size: 22px;
            padding-left: 10px;
        }
    }
    .doctor-table {
        width: 100%;
        border-collapse: collapse;
        position: inherit;
        font-size: 25px;
        th {
            background-color: #6D2932;
            padding: 10px;
            font-weight: bold;
            text-align: left;
        }
        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        tr {
            background-color: #638889;
        }
    }
}