.history-bar{
    padding: 30px;
    overflow-y: scroll;
    max-height: 500px;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent; 
    }
    &::-webkit-scrollbar-thumb {
        background: transparent; 
    }
}
.nonfractured{
    color: rgb(20, 182, 20);
    font-weight: bold;
}
.fractured{
    color: red;
    font-weight: bold;
}
.history-time{
    color: gray;
}
.empty-page{
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 460px;
    // background-color: red;
    img{
        object-fit: contain;
    }
}