:root {
    --primary-color: #C54B43;
    --text-dark: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --max-width: 1200px;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: #C54B43;
}

.service__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.service__header__content p {
    max-width: 600px;
    color: rgb(77, 77, 77);
}

.service__btn {
    padding: 0.75rem 1rem;
    outline: none;
    font-size: 1rem;
    color: #C54B43;
    border: 1px solid #C54B43;
    background-color: transparent;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
}

.service__btn:hover {
    color: var(--white);
    background-color: #C54B43;
}

.service__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.service__card {
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.336);
    cursor: pointer;
}

.service__card span {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 2.5rem;
    color: #C54B43;
    border-radius: 100%;
    transition: 0.3s;
}

.service__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.service__card p {
    margin-bottom: 1rem;
    color: rgb(77, 77, 77);
}

.service__card:hover span {
    color: white;
    background-color: #C54B43;
}

.btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

@media (width < 900px) {
    .service__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (width < 780px) {
    .header__container {
        flex-direction: column;
    }
}

@media (width < 600px) {
    .service__header {
        flex-direction: column;
        text-align: center;
    }
    .service__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}