.experience-doctors {
    margin-bottom: 150px;
    margin-top: 100px;
    h2 {
        text-align: center;
        font-weight: 700;
        color: #C54B43;
    }
    .doctor-cards {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 713px) {
    .doctor-cards {
        justify-content: center;
        flex-direction: column;
    }
}