@import '../../Sass/colors';

.submit-email-btn{
    margin-bottom: 20px;
    background-color: $second_basic-color;
    border: none;
    padding: 10px;
    // width: 120px;
    border-radius: 5px;
    color: white;
    // width: 330px;
    // margin-left: 90px;
    &:hover{
        background-color: #d15951;
    }
}
.back-login{
    text-align: center;
    // margin-left: 40px;
    .login-link{
        color: $second_basic-color;
        font-weight: bold;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
// .reset-child{
//     display: block;
//     // margin-left: 70px;
//     .forgot-pass-paragraph{
//         .forgot-pass{
//             font-size: 40px;
//             color: rgb(65, 65, 65);
//         }
//     }
// }
// .password-right-side{
//     display: block;
// }
// .resetpass-img{
//     margin-top: 30px;
// }
.back-arrow{
    // display: block;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 30px;
    color: rgb(87, 87, 87);
}
// .change-pass-link{
//     text-decoration: none;
// }


// @import '../../Sass/colors';

// @import '../../Sass/colors';

// @import '../../Sass/colors';

// @import '../../Sass/colors';

// @import '../../Sass/colors';

// .provide-pass-form{
//     // padding: 40px;
//     // margin-left: 50px;
//     .forgot-pass-paragraph{
//         .tips{
//             font-size: 15px;
//             color: rgb(155, 155, 155);
//         }
//     }
//     .email-providing-group{
//         display: block;
//         .email-textfield{
//             // margin-bottom: 10px;
//             width: 330px;
//         }
//     }
// }

// .provide-pass-form{
//     padding: 40px;
//     // margin-left: 50px;
//     .forgot-pass-paragraph{
        .forgot-pass{
            font-size: 40px;
            color: rgb(65, 65, 65);
        }
        .tips{
            font-size: 15px;
            color: rgb(155, 155, 155);
        }
//     }
//     .email-providing-group{
//         display: block;
//         .email-textfield{
//             margin-bottom: 20px;
//             width: 330px;
//         }
//     }
    // .submit-email-btn{
    //     margin-bottom: 20px;
    //     background-color: $second_basic-color;
    //     border: none;
    //     padding: 10px;
    //     // width: 120px;
    //     border-radius: 5px;
    //     color: white;
    //     width: 330px;
    //     &:hover{
    //         background-color: #05970098;
    //     }
    // }
//     .back-login{
//         text-align: center;
//         .login-link{
//             color: $second_basic-color;
//             font-weight: bold;
//             text-decoration: none;
//             &:hover{
//                 text-decoration: underline;
//             }
//         }
//     }
// }
// .tips{
//     color: rgb(155, 155, 155);
//     font-size: 15px;
// }
// .verify-code{
//     .forgot-pass{
//         font-size: 40px;
//         color: rgb(65, 65, 65);
//     }
// }



// @import '../../Sass/colors';

// @import '../../Sass/colors';

// @import '../../Sass/colors';

// @import '../../Sass/colors';

// @import '../../Sass/colors';

// .provide-pass-form{
//     padding: 40px;
//     // margin-left: 50px;
//     .forgot-pass-paragraph{
//         .forgot-pass{
//             font-size: 40px;
//             color: rgb(65, 65, 65);
//         }
//         .tips{
//             font-size: 15px;
//             color: rgb(155, 155, 155);
//         }
//     }
//     .email-providing-group{
//         display: block;
//         .email-textfield{
//             margin-bottom: 20px;
//             width: 330px;
//         }
//     }
//     .submit-email-btn{
//         margin-bottom: 20px;
//         background-color: $second_basic-color;
//         border: none;
//         padding: 10px;
//         width: 120px;
//         border-radius: 5px;
//         color: white;
//         width: 330px;
//         &:hover{
//             background-color: #05970098;
//         }
//     }
//     .back-login{
//         text-align: center;
//         .login-link{
//             color: $second_basic-color;
//             font-weight: bold;
//             text-decoration: none;
//             &:hover{
//                 text-decoration: underline;
//             }
//         }
//     }
// }

// .verify-code{
//     .forgot-pass{
//         font-size: 40px;
//         color: rgb(65, 65, 65);
//     }
// }