* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.HomePage {
    max-width: 1500px;
    margin: auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.getServices {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: #C54B43;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.getServices:hover {
    background-color: rgb(77, 77, 77);
}

.header {
    padding: 0 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    align-items: center;
}

.content h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 800;
    color: #C54B43;
}

.content h1 span {
    font-weight: 500;
}

.content p {
    margin-bottom: 2rem;
    color: rgb(77, 77, 77);
    line-height: 1.75rem;
    font-size: large;
}

.image {
    position: relative;
    text-align: center;
    isolation: isolate;
}

.image__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 470px;
    width: 470px;
    background-color: #C54B43;
    border-radius: 100%;
    z-index: -1;
}

.image img {
    width: 100%;
    max-width: 480px;
    position: relative;
    top: 50%;
    left: 15%;
    animation: mover 1s infinite alternate;
    transition: .3s ease all;
}

@keyframes mover {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.image__content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: left;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.image__content__1 {
    transform: translate(calc(-50% - 12rem), calc(-50% - 8rem));
}

.image__content__1 span {
    padding: 6px 12px;
    font-size: 2.7rem;
    color: #C54B43;
    border-radius: 100%;
}

.image__content__1 h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.image__content__1 p {
    color: rgb(77, 77, 77);
}

.image__content__2 {
    transform: translate(calc(-50% + 8rem), calc(-50% + 10rem));
}

.image__content__2 ul {
    list-style: none;
    display: grid;
    gap: 1rem;
}

.image__content__2 li {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    color: rgb(77, 77, 77);
}

.image__content__2 span {
    font-size: 1.5rem;
    color: #C54B43;
}

@media (width < 980px) {
    .header {
        padding: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .content {
        text-align: center;
    }
    .image {
        grid-area: 1/1/2/2;
    }
    .image img {
        left: 1%;
    }
    .image__content__1 {
        display: none;
    }
    .image__content__2 {
        display: none;
    }
}