.reservation-notification{
    z-index: 100;
    .notification{
        font-size: 25px;
        margin-right: 28px;
        .notifications-body{
            // position: absolute;
            margin-top: 100%;
            // margin-right: -100px;
            background-color: rgb(255, 255, 255);
            box-shadow: 1px 1px 5px rgb(82, 82, 82,0.4);
            border-radius: 10px;
            width: 350px;
            .not-title{
                border-bottom: 1px solid rgba(185, 185, 185, 0.3);
                width: 100%;
                padding: 15px;
                color: rgb(82, 82, 82);
            }
            .not-containter{
                overflow-y: scroll;
                max-height: 400px;
                &::-webkit-scrollbar {
                    width: 5px;
                }
                &::-webkit-scrollbar-track {
                    background: transparent; 
                }
                &::-webkit-scrollbar-thumb {
                    background: transparent; 
                }
                .sole-notification{
                    display: flex;
                    font-size: 18px;
                    border-bottom: 1px solid rgb(241, 241, 241);
                    padding: 10px;
                    align-items: center;
                    width: 100%;
                    .patient-details{
                        padding-left: 10px;
                        text-align:start;
                        color:rgb(77, 77, 77);
                        line-height: 0.4;
                    }
                    &:hover{
                        background-color: rgb(245, 245, 245);
                    }
                }
            }
        }
        a{
            color: rgb(63, 63, 63);
            &:hover{
                color: rgb(82, 82, 82);
            }
        }
    }
}
