@import '../Sass/colors';
.big-form-component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 3px solid #C54B43;
    border-radius: 5px;
    margin: 40px;
    .big-form-title {
        display: flex;
        padding: 2rem 0 0 0;
        justify-content: center;
    }
    .line {
        display: flex;
        color: #C54B43;
        font-weight: 900;
        justify-content: center;
    }
    .big-form {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding: 0 3rem 3rem;
        .column {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            input {
                padding: 0.5rem;
                font-size: 1rem;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        }
    }
    .last-section-big-form {
        display: flex;
        justify-content: center;
        .btn-confirm {
            font-size: 30px;
            font-weight: 600;
            margin: 0 0 2rem 0;
            // background-color: #C54B43;
            color: white;
            padding: 1rem;
            border-radius: 5px;
            width: 20%;
        }
    }
}
.go-back-arrow{
    font-size: 20px;
    a{
        color: rgb(114, 114, 114);
        &:hover{
            color: $second-basic-color;
        }
    }
}
.doctor-details{
    // font-size: 15px;
    .expertise{
        color: gray;
        font-size: 13px;
        // padding:2px;
    }
    .doctor-name{
        color: rgb(73, 73, 73);
        font-size: 20px;
    }
}
.reservation-form{
    border: 1px solid rgb(233, 233, 233);
    margin: auto;
    // width: 700px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgb(190, 190, 190, 0.3);
}
.submit-reservation{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: $second-basic-color;
    padding: 5px;
    &:hover{
        background-color: #ce3f34;
    }
}
.gender-option{
    font-size: 20px;
}
.gender{
    color: gray;
}