.guarantee-container {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 100px;
    text-align: center;
    h1 {
        font-size: 30px;
        font-weight: bold;
        font-weight: 700;
        color: #C54B43;
        margin-bottom: 50px;
    }
    .guarantee-items {
        display: flex;
        justify-content: space-between;
        .item {
            width: 30%;
            background-color: #8c6b3e;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                font-size: 22px;
                font-weight: bold;
            }
            p {
                font-size: 20px;
                margin-top: 5px;
                font-weight: bold;
            }
            animation: fadeIn 1s ease; // Example animation
        }
        .professionalism {
            background-color: #8c6b3e;
        }
        .accuracy {
            background-color: #333;
        }
        .availability {
            background-color: #9c3d36;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 413px) {
    .guarantee-container {
        .guarantee-items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .item {
                width: 100%;
                padding: 15px;
                margin: 10px;
            }
        }
    }
}