@import '../../../Sass/colors';
.change-pass{
    text-decoration: none;
}
.go-back-to-options{
    font-size: 30px;
    color: gray;
    margin-bottom: 30px;
    // background-color: red;
    &:hover{
        color: rgb(170, 53, 53);
    }
}
.profile-options-stack{
    // background-color: red;
    width: 200px;
    button{
        border: none;
        border-radius: 5px;
        background-color: $second_basic-color;
        padding: 10px;
        color: white;
        a{
            color: white;
        }
        &:hover{
            background-color: rgb(201, 55, 55);
        }
    }
}
.profile-options{
    // background-color: green;
    width: 100%;
    height: 400px;
    padding: 50px;
}

.edit-profile-form{
    width: 400px;
    // background-color: red;
    padding: 20px;
    text-transform: capitalize;
    // margin: 50px;
}
.update-profile-btn{
    border: none;
    border-radius: 5px;
    background-color: $second_basic-color;
    padding: 10px;
    width: 200px;
    margin-top: 30px;
    color: white;
    &:hover{
        background-color: rgb(201, 55, 55);
    }
}
.submit-update-div{
    // width: 400px;
    display: flex;
    justify-content: center;   
    // background-color: red;
}