@import '../../../Sass/colors';
.doctor-preview-container{
    background-color: rgb(248, 248, 248);
    color: rgb(109, 109, 109);
    width: 500px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 1px 1px 7px rgba(94, 93, 93, 0.2);
    .App-cont{
        border: 1px solid rgb(190, 190, 190);
        border-radius: 10px;
        padding: 20px;
        // width: 540px;
        text-align: center;
        margin-top: 40px;
        .appointments-box{
            background-color: rgb(248, 248, 248);
            .hour{
                margin: 5px;
            }
        }
    }
    .time-container{
        padding: 50px;
        background-color: rgb(248, 248, 248);
        width: 480px;
    }
}