@import '../../Sass/colors';
.modal-button-app{
    background-color: $second_basic-color;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    margin-left: 20px;
    height: 40px;
    font-size: 15px;
}

.modalHeader-app {
    border: none;
    outline: none;
}

.modalFooter-app {
    border: none;
    outline: none;
}

.mb-3-app {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.mb-3-app .textField {
    width: 70%
}

.assign-app-action , 
.cancel-app-action{
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    color: white;
}

.cancel-app-action{
    background-color: $text-dark-color;
}

.assign-app-action{
    background-color: $second_basic-color;
}

.App-container{
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
    padding: 5px;
    display: flex;
    margin: 5px;
    .day-container{
        display: flex;
        align-items: center;
    }
    // .bar{
    //     display: flex;
    //     align-items: center;
    //     padding-top: 20px;
    //     font-size: 26px;
    //     color: gray;
    //     margin-left: 20px;
    // }
    .time-container{
        margin-left: 20px;
        display: flex;
        align-items: center;
        .time-input{
            border: 1px solid rgb(212, 212, 212);
            margin-left: 20px;
            border-radius: 5px;
            width: 150px;
            height: 40px;
            padding: 5px;
            outline: none;
            &:focus{
                outline: none;
                border: 2px solid rgb(101, 150, 223);
            }
        }
    }
    .delete-app{
        border: none;
        width: auto;
        background-color: transparent;
        font-size: 25px;
        color: $second_basic-color;
        margin-left: 30px;
    }
}

.add-app-btn{
    margin-left: 100px;
}