$standard-border-radius: 10px;
.dropzone-container{
    margin: auto;
    margin-top: 60px;
    width: 70%;
    height: 400px;
    border-radius: $standard-border-radius;
    padding: 20px;
    background-color: white;
    // H-shadow V-shadow blur spread color inset/outset
    box-shadow: 1px 1px 3px rgb(146, 145, 145 , 0.4);
    .img-btn{
        display: flex;
        // background-color: #afafaf;
        width: 80%;
        height: 25%;
        margin: auto;
        .scan-btn{
            border: none;
            border-radius: $standard-border-radius;
            background-color: rgb(108, 123, 255);
            width: 130px;
            height: 50px;
            font-size: 23px;
            color: white;
            margin-left: auto;
            margin-top: 2%;
            display: flex;
            padding-top: 8px;
            justify-content: space-evenly;
            &:hover{
                box-shadow: 2px 2px 6px rgb(146, 145, 145 , 0.5);
                background-color: rgb(130, 142, 253);
                transition: 0.2s ease;
            }
            
        }
    }
    
}
.dropzone{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2em;
    border: 2px dashed #afafaf;
    border-radius: $standard-border-radius;
    cursor: pointer;
    width: 80%;
    height: 60%;
    color: #727272;
    font-size: 20px;
}
.image-preview{
    margin-top: 2%;
    margin-left: 2%;
    width: 60px;
    height: 60px;
    overflow: hidden;
}