@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.navbar {
    background-color: #C54B43;
    font-family: 'Roboto', sans-serif;
    transition: #C54B43 0.3s ease-in-out;
    width: 100%;
    position: absolute;
}

.navbar.navbar-scroll {
    background-color: #C54B43;
}

.navbar .navbar-brand {
    color: #C54B43;
    font-weight: 700;
    font-size: 40px;
    transition: color 0.3s ease-in-out;
}

.navbar .navbar-brand:hover {
    color: var(--secondary-color);
}

.navbar .nav-link {
    color: #C54B43;
    transition: color 0.3s ease-in-out;
    margin-left: 60px;
    font-size: 20px;
    font-weight: 600;
}

.navbar .nav-link:hover {
    color: var(--secondary-color);
}

.navbar .dropdown-menu {
    background-color: var(--tertiary-color);
}

.navbar .dropdown-menu .dropdown-item {
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
}

.navbar .dropdown-menu .dropdown-item:hover {
    color: var(--secondary-color);
}

.navbar .two-buttons {
    display: flex;
    gap: 1rem;
}

.navbar .two-buttons .right-part .nav-btn {
    padding: 1rem 0.4rem 1rem 1rem;
    color: #C54B43;
    font-weight: 600;
    font-size: larger;
}

.navbar .two-buttons .right-part .icon {
    font-size: 20px;
    color: #C54B43;
}

.profile-menu-btn {
    border: none;
    display: flex;
    position: relative;
    right: 2rem;
    background-color: transparent;
    align-items: center;
}