@import '../../Sass/colors';
.provide-pass-form{
    // padding: 40px;
    // margin-left: 50px;
    .forgot-pass-paragraph{
        .tips{
            font-size: 15px;
            color: rgb(155, 155, 155);
        }
    }
    .email-providing-group{
        display: block;
        .email-textfield{
            // margin-bottom: 10px;
            width: 330px;
        }
    }
}