.reserved-app{
    padding: 10px;
    // background-color: red;
}
.reserved-apps{
    // padding: 30px;
    overflow-y: scroll;
    // max-height: 500px;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent; 
    }
    &::-webkit-scrollbar-thumb {
        background: transparent; 
    }
}
.cancel-reservation-btn-cont{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // background-color: red;   
    // width: 700px;
}
.cancel-reservation-btn{
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 150px;
}

.empty-page{
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 460px;
    // background-color: red;
    img{
        object-fit: contain;
    }
}