@import '../../../Sass/colors';
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Pacifico&display=swap');

.user-photo{
    // background-color: red;
    width: 100px;
    margin-top: 40px;
    img{
        border-radius: 50%;
        object-fit: contain;
        background-color: rgb(255, 255, 255);
        width: 100px;
        height: 100px;
        // z-index: 4;
    }
    .camera{
        margin-top: -25px;
        margin-left: 65px;
        color: rgb(109, 109, 109);
        border-radius: 50%;
        // text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        border: 0.6px solid gray;
        z-index: 100;
        width: 32px;
        height: 32px;
    }
}
.logout{
    font-size: 20px;
    color: red;
    // background-color: black;
    position: absolute;
    bottom: 0;
    // justify-content: center;
    width: inherit;
    // padding-left: 5px;

}

.profile-sidebar{
    min-height: 100vh;
    padding-top: 5px;
    background-color: rgb(241, 241, 241);
    
}

.update-photo , .user-name , .logout {
    display: flex;
    justify-content: center;
    // align-items: center;
}

.home-icon{
    font-size: 20px;
    // margin-top: 50px;
    margin-left: 10px;
    color: rgb(49, 49, 49);
    &:hover{
        color: $second_basic-color;
    }
}
.user-name{
    p{
        font-family: "Pacifico", cursive;
    }
}
